*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient( rgb(248, 183, 92), rgb(245, 205, 87));
    font-family: 'Inter', sans-serif;
    min-width: 370px;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
}

.navbar {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-family: 'Righteous', cursive;
    font-size: 26px
}

.navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.navbar-item {
    list-style-type: none;
    color: rgb(49, 47, 47);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.navbar-item:hover {
    color: #0055A3;
}

.hero-box {
    margin: 60px 0 130px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; */
    padding: 50px 70px;
    position: relative;
}

.hero-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: white;
    border-radius: 25px;
    z-index: -1;
}

.hero-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.app-title {
    font-weight: 700;
}

.hero-title {
    text-align: left;
    font-size: 64px;
    font-weight: 800;
    margin: 0 0 30px;
    color: rgb(49, 47, 47);
}

.paragraph {
    color: rgb(45, 44, 44);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin: 0 0 30px;
}

.hero-button {
    display: flex;
    align-self: center;
    max-width: 170px;
    padding: 12px 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 20px;
    background-color: #0473CE;
    color: white;
    transition-property: all;
    transition-duration: 0.5s;
}

.hero-button:hover {
    padding: 12px 40px;
    letter-spacing: 2px;
    background-color: white;
    color: #0473CE;

}

.hero-image {
    display: block;
    width: 420px;
    /* height: 50%; */
    object-fit: contain;
    position: absolute;
    z-index: -1;
    right: 75px;
    top: 100px;
}



.form-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.form-image {
    width: 40%;
    height: 445px;
    object-fit: cover;
}

.form {
    /* margin-bottom: 100px; */
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 42px;
    font-weight: 800;
    line-height: 130%;
    /* color: rgb(49, 47, 47); */
    color: #0473CE;
    margin: 20px 0 40px;
}

.form-top {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    padding-left: 30px;
}

.form-top input {
    width: 300px;
}

.form-top input[type="date"] {
    width: 282px;
}

.deadline-section {
    display: flex;
    align-items: center;
}

.availability-title {
    margin: 30px 0 20px;
    font-size: 22px;
    color: rgb(49, 47, 47);
    padding-left: 30px;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.form-bottom-section {
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.2fr;
    align-items: end;
    gap: 30px;
    margin-bottom: 10px;
}

.button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: white;
    cursor: pointer;
    max-width: 130px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.2s;
}

.button:hover {
    box-shadow: 3px 8px 21px 0px rgba(0,0,0,0.76);
}

.button.add {
    background-color: white;
    padding: 11px 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-image {
    width: 17px;
    height: 17px;
    fill: #0055A3;
}

.button.create {
    display: flex;
    align-self: center;
    margin-top: 30px;
    background-color: #0473CE;
    color: white;
}


label {
    color: rgb(49, 47, 47);
    font-weight: 600;
}

.form-bottom-section input {
    width: 120px;
}

input {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #F8CD7A;
    padding: 8px;
    color: rgb(45, 44, 44);
    height: 33px;
}

.message {
    color: #c50000;
    font-size: 18px;
    font-weight: 600;
    margin: 25px 0;
    text-align: center;
}


.projectsContainer-wrapper {
    margin-bottom: 100px;
}

.projectContainer {
    background-color: #F8CD7A;
    border-radius: 25px;
    padding: 30px 40px;
}

.projectContainer:first-of-type {
    margin-top: 30px;
}

.projectContainer:not(:last-of-type) {
    margin-bottom: 50px;
}

.projectInfoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 10px;
}

.projectInfo {
    color: rgb(49, 47, 47);
    font-size: 18px;
    font-weight: 600;
    
    line-height: 135%;
}

.deleteIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.titles {
    border-top: 1px solid #535556ad;
    border-bottom: 1px solid #535556ad;
    padding: 2px 0;
    margin-bottom: 5px;
    font-weight: 500;
    color: rgb(49, 47, 47);
}

.planItem {
    padding: 2px 0;
    color: rgb(45, 44, 44);
}

.titles, .planItem {
    display: flex;
    gap: 50px;
}

.titles span, .planItem span {
    width: 120px;
    text-align: center;
}










.footer {
    display: flex;
    justify-content: center;
    /* border-top: 1.5px solid rgb(60, 59, 59); */
}

.footer-info {
    margin: 40px 0 20px;
    text-align: center;
    color: rgb(49, 47, 47);
    font-size: 16px;
    font-weight: 500;
}



@media (max-width: 990px) {
    .hero-description {
        width: 60%;
    }

    .hero-image {
        width: 270px;
        top: 42px;
    }

    .form-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .form-title {
        margin-top: 0;
    }

    .form-image {
        width: 80%;
        border-radius:  50% 20% / 10% 40%;
    }

    .form {
        align-items: center;
    }

    .form-title {
        text-align: center;
    }

    .form-top, .availability-title, .form-bottom {
        padding-left: 0;
    }

    .availability-title {
        margin-top: 40px
    }
}

@media (max-width: 789px) {
    .hero-box {
        padding: 35px 45px;
    }

    .hero-description {
        width: 100%;
    }

    .hero-title {
        width: 50%;
    }

    .hero-image {
        width: 180px;
        top: 30px;
        right: 50px;
    }

    .form-image {
        width: 100%;
    }
}


@media (max-width: 576px) {
    .container {
        padding: 0 30px;
    }

    .navbar-list {
        gap: 25px;
    }

    .hero-box {
        padding: 25px 30px;
        margin-bottom: 90px;
    }

    .hero-title {
        font-size: 46px;
    }

    .hero-image {
        width: 120px;
        top: 20px;
        right: 30px;
    }

    .form-image {
        height: 350px;
    }

    .form-title {
        font-size: 36px;
    }

    .form-top input {
        width: 195px;
    }

    .form-top input[type="date"] {
        width: 178px;
    }

    .form-bottom-section {
        align-items: flex-end;
    }

    .projectContainer {
        padding: 20px 30px;
    }

    .deleteIcon {
        width: 28px;
        height: 28px;
    }
}
